<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Genres</title>
  </head>
  <body>
    <h1>Genres:</h1>
    <ul>
      <% @genres.each do|g| %>
        <%= g.name %>
      <% end %>
    </ul>
  </body>
</html>
