<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Songs</title>
  </head>
  <body>
    <h1>Songs:</h1>
    <ul>
      <% @songs.each do|s| %>
        <p><%= s.name %></p>
      <% end %>
    </ul>
  </body>
</html>
